body{
font-family: "Roboto", sans-serif;
font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color:#434455;
    background-color: #FFFFFF;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

img{
    display: block;
    padding-right: 0px;
    margin-right: 0px;
}

h1,
h2,
h3,
p,
a{
    margin-top: 0;
    margin-bottom: 0;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 24px 15px 24px 15px;
    width: 1158px;
}

.header{
    display: flex;
   margin: 0px auto;
    border-bottom: 1px solid #e7e9fc;
}

.navigation{
    display: flex;
    gap: 40px;
}

.list-h{
    display: flex;
    gap: 40px;
}
.nav{
    display: flex;
    align-items: center;
}

.main-page .container{
    margin: 0px auto;
    padding: 0 15px;
}

.main-page {
    background-color: #2e2f42;
    margin: auto;
    padding-top: 188px;
    padding-bottom: 188px;
}

.btn-os{
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    color: white;
    cursor: pointer;
    padding: 16px 32px 16px 32px;
    display: block;
    margin: auto;
    border-radius: 4px;
    border: 0px;
    min-width: 169px
}

.btn-os:hover,
.btn-os:focus{
    background-color: #404bbf;
}

.navigation .link {
    color: #2e2f42;
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        padding: 24px 0px 24px 0px;
}

.navigation .link:hover,
.navigation .link:focus{
    color: #404bbf;
}

ul{
    list-style-type:none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        letter-spacing: 0.04em;
}

.header-add{
    color: #434455;
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;    
}

.contacts{
    font-style: normal;
}

.header-add:hover,
.header-add:focus{
    color:#404bbf;
}

.logo{
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    font-family:"Raleway", sans-serif;
    text-transform: uppercase;
    margin-right: 76px;
}

.span-logo{
    color: #f4f4fd;
}

.span-header{
    color: #2e2f42;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color:white;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.content-first-content{
    display: flex;
    gap: 24px;
}

.first-content{
    padding-top: 120px;
    padding-bottom: 120px;
}

.first-content .container{
    width: 1128px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

.content-first-content .cfc{
    display: block;
    width: calc((100% - 3 * 24px) / 4);
}

.team .container{
max-width: 1158px;
gap: 24px;
margin-left: auto;
margin-right: auto;
padding: 0 15px;
}

.team-content{
display: flex;
justify-content: space-between;
gap: 24px;
margin-left: auto;
margin-right: auto;
padding-left: 0px;
}

.team-content .list{
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.tabl .content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color:#2e2f42;
    font-family: "Roboto", sans-serif; 
}

.tabl .content-text{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

.list .content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    margin-bottom: 8px;
    text-align: center;
}

.list .content-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.content-title{
margin-bottom: 8px;
}

.cfc .content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    margin-bottom: 8px;
   }

.cfc .content-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.team{
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.list .container{
padding-top: 32px;
padding-bottom: 32px;
}

.our-title{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.portfolio{
padding: 120px 0 120px 0;
max-width: 1158px;
margin-left: auto;
margin-right: auto;
}

.portfolio .container{
padding: 0 15px;
}

.tabl{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin-left: auto;
    margin-right: auto;
}

.tabl-list{
    width: calc((100% - 48px) / 3);
}

.tabl-list .container {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.text-footer{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
       }

.end-page{
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.end-page .container{
max-width: 1158px;
margin-left: auto;
margin-right: auto;
padding: 0 15px;
}

.end-page .logo{
    display: inline-block;
    margin-bottom: 16px;
}

.list{
    background-color: white;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
}