body{
font-family: "Roboto", sans-serif;
font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color:#434455;
    background-color: #FFFFFF;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

label{
    margin: 0;
    padding: 0;
}

img{
    display: block;
    padding-right: 0px;
    margin-right: 0px;
    max-width: 100%;
}

.button {
    display: block;
    cursor: pointer;
    padding: 0;
}
    

h1,
h2,
h3,
p,
a{
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.04em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* adaprivniy container */

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* header */

.header .container{
    display: flex;
    align-items: center;
}

.header{
    display: flex;
    margin: 0px auto;
    border-bottom: 1px solid #e7e9fc;
    height: 56px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu-header-btn{
    background-color: transparent;
    border: none;
}

.icon-menu{
    fill: #2f2f37;
}

.navigation{
    display: none;
}

.list-h{
    display: flex;
    gap: 40px;
}

.nav{
    display: flex;
    align-items: center;
}

.navigation .link {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    padding: 24px 0px 24px 0px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.header .link{
    position: relative;
    color: #2e2f42;
}

.navigation .point:nth-child(1) .link {
    position: relative;
    color: #404BBF;
}
  
.navigation .link:hover,
.navigation .link:focus{
    color: #404bbf;
}

.header-add{
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts{
    display: none;
    font-style: normal;
}

.header-add:hover,
.header-add:focus{
    color:#404bbf;
}

.logo{
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    font-family:"Raleway", sans-serif;
    text-transform: uppercase;
    margin-right: 149px;
}

.span-logo{
    color: #f4f4fd;
}

.span-header{
    color: #2e2f42;
}

@media screen and (min-width: 768px) and (max-width: 1157px){
    .menu-header-btn{
        display: none;
     }

    .navigation{
        display: flex;
        margin: 0 120px;
        gap: 40px;
    }

    .navigation . link{
        font-size: 16px;
    }

    .contacts{
        display: flex;
    }

    .list-h{
        display: block;
    }

    .header-add{
        font-size: 12px;
    }

    .navigation .point:nth-child(1) .link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
        }

    .header {
        height: 72px;
    } 

    .logo{
        margin-right: 0;
    }
}

@media screen and (min-width: 1158px){
    .header {
        height: 72px;
    }

    .header .container{
       display: flex;
       justify-content: space-between;
    }
    
    .menu-header-btn{
        display: none;
     }

    .navigation{
        display: flex;
        margin: auto 332px auto 76px;
        gap: 40px;
    }

    .navigation . link{
        font-size: 16px;
    }

    .contacts{
        display: flex;
    }

    .list-h{
        display: flex;
        gap: 40px;
    }

    .header-add{
        font-size: 16px;
    }

    .navigation .point:nth-child(1) .link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
        }

    .logo{
        margin-right: 0;
    }
}

/* here main page */

.btn-os {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    color: white;
    cursor: pointer;
    padding: 16px 32px 16px 32px;
    display: block;
    margin: auto;
    border-radius: 4px;
    border: 0px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-os:hover,
.btn-os:focus {
    background-color: #404bbf;
}

.main-page {
    background-color: #2e2f42;
    margin: auto;
    padding: 72px 0;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
}

.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color:white;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1157px){
    
    .main-page{
        background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/bg-plan.jpg);
        max-width: 768px;
    }

    .main-title{
        max-width: 496px;
        font-size: 56px;
        margin: 188px auto 48px;
    }

    .btn-os{
        margin-bottom: 188px;
    }
}

@media screen and (min-width: 1158px){
    .main-page{
        background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/bg-plan.jpg);
        max-width: 1440px;
    }

    .main-title{
        max-width: 496px;
        font-size: 56px;
        margin: 112px auto 36px;
    }

    .btn-os{
        margin-bottom: 112px;
    }
}

/* section2 strategy */

.strategy{
    margin: 120px 0;
}

.strategy .icon-box {
   display: none;
  flex-direction: column;
      align-items: center;
  height: 112px;
  justify-content: center;
 background-color: #F4F4FD;
   border: 1px solid #8E8F99;
  border-radius: 4px;
   margin-bottom: 8px;
}

.strategy-item .content-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    margin-bottom: 8px;
}

@media screen and (max-width: 767px){
    .strategy-item .content-title{
       text-align: center;
    }
}

.strategy-item .content-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.strategy-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .strategy .strategy-list{
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 24px;
        row-gap: 72px;
        margin-left: auto;
        margin-right: auto;
    }

    .strategy .strategy-list .strategy-item{
        flex-basis: calc((100% - 24px)/2);
    }

    .content-text{
        max-width: 356px;
    }

    .content-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
    }
}

@media screen and (min-width: 1158px){

    .strategy .strategy-list{
        display: flex;
        flex-direction: row;
        gap: 24px;
        margin-left: auto;
        margin-right: auto;
    }

    .strategy .icon-box {
        display: flex;
    } 

    .strategy .strategy-item {
        display: block;
        width: calc((100% - 3 * 24px) / 4);
    }

    .strategy .content-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 111%;
        letter-spacing: 0.02em;
    }

    .strategy-item .content-text {
        font-size: 16px;
    }

    .strategy .container{
        margin: 120px auto;
    }
        
}

/* section3 Our Team */

.team .container{
/* min-width: 320px; */
gap: 24px;
/* margin-left: auto;
margin-right: auto; */
/* padding: 0 15px; */
}

.team-content{
display: flex;
flex-direction: column;
gap: 72px;
margin-left: auto;
margin-right: auto;
padding-left: 0px;
}

.team-content .list{
    /* width: calc((100% - 72px) / 4); */
    margin: 0 auto;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-box {
    padding-top: 32px;
    padding-bottom: 32px;
}

.social-link .team-link {
    display: flex;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition-property: background-color;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link .team-link:hover, .social-link .team-icon:hover{
    background-color:#404bbf
}

.social-link .team-link:focus,
.social-link .team-icon:focus {
    background-color: #404bbf
}

.social-link .team-icon{
    fill: #f4f4fd;
    position: absolute;
}

.team .social-link{
    display: flex;
    gap: 24px;
}

.social-link{
  margin-top: 8px;
justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .team-content{
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 64px;
    margin: 0 auto;
    }

    .team-content .list{
    flex-basis: calc((100% - 24px)/2);
    }

    .team .container{
    /* padding: 0 100px; */
    max-width: 584px;
    }
}

@media screen and (min-width: 1158px){

    .team-content{
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 64px;
    margin: 0 auto;
    }

    .team .container{
        padding: 120px 0;
    }

    .our-title{
        margin-bottom: 72px;
    }
}


/* section4 Our Portfolio */

.portfolio-list .content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color:#2e2f42;
    font-family: "Roboto", sans-serif; 
}

.portfolio-list .content-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.list .content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    margin-bottom: 8px;
    text-align: center;
}

.list .content-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.content-title{
    margin-bottom: 8px;
}

.our-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio{
   padding: 96px 0 96px 0;
   /* max-width: 1158px; */
   margin-left: auto;
   margin-right: auto;
}

.portfolio .container{
   padding: 0 15px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-item{
    /* width: calc((100% - 48px) / 3); */
}

.portfolio-item .container {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.portfolio-list .portfolio-item:hover{
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list .portfolio-item{
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.action{
position: relative;
    overflow: hidden;
}

.overlay {
    padding: 8px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-family: sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
    }

    .portfolio-item:hover .overlay {
    transform: translateY(0);
    }

    @media screen and (min-width: 768px) and (max-width: 1157px) {
    .portfolio-list{
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    margin: 0 auto;
    }

    .portfolio-list .portfolio-item{
    flex-basis: calc((100% - 24px)/2);
    }
}
/* footer-sec */

.text-footer{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.end-page{
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.end-page .container{
/* max-width: 1128px; */
/* margin-left: auto;
margin-right: auto; */
/* padding: 0 15px; */
display: flex;
flex-direction: column;
/* align-items: baseline; */

}

.end-page .logo{
    /* display: flex; */
    /* justify-content:center; */
    margin-bottom: 16px;
    margin-right: 0;
}

.list{
    background-color: white;
}

.soc-text{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: white;
        /* margin-bottom: 16px; */
}

.social-box .social-link{
    display: flex;
    gap: 16px;
}

.footer-box{
    display: flex;
        flex-direction: column;
        align-items: center;
    /* margin-right: 120px; */
    margin-bottom: 72px;
}

.social-box .team-link:hover,
.social-box .team-icon:hover {
    background-color: #31d0aa;
}

.social-box .team-link:focus,
.social-box .team-icon:focus {
    background-color: #31d0aa;
}

.social-box{
    /* margin-left: 0;
    margin-right: 80px; */
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

/* subscribe-footer */

.form-text-footer{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    /* margin-bottom: 16px; */
}

.subscribe-label{
    /* gap: 24px; */
}

.subscribe-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-form{
    margin: 0;
    padding: 0;
}

.subscribe-btn{
    /* margin-left: 24px; */
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 8px 0 8px 24px;
    margin: 0 auto;
    gap: 16px;
    cursor: pointer;
    min-width: 165px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-box .subscribe-btn:hover,
.subscribe-box .subscribe-btn:hover {
    background-color: #31d0aa;
}

.subscribe-box .subscribe-btn:hover,
.subscribe-box .subscribe-btn:hover {
    background-color: #31d0aa;
}

.footer-mail-input{
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 8px 0 8px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    outline: none;
    color: #ffffff;
    background-color: transparent;
    max-width: 100%;
}

.footer-mail-input::placeholder{
    color: #fff;
}

.sub-iconss{
    fill: #fff;
    margin-right: 24px;
    margin-left: 16px;
}

.footer-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1157px){
    .footer-form{
        flex-direction: row;
    }

    .subscribe-box{
        align-items: flex-start;
    }

    .social-box{
        align-items: flex-start;
    }

    .footer-box {
        align-items: flex-start;
    }

    .end-page .container{
        padding: 0 100px;
        flex-wrap: wrap;
        flex-direction: row;
        row-gap: 72px;
        column-gap: 24px;
    }

    .text-footer{
        max-width: 264px;
    }
}

@media screen and (min-width: 1158px){
    .end-page .container{
        flex-direction: row;
        align-items: center;
        align-items: baseline;
    }

    .end-page {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .text-footer{
        max-width: 264px;
    }

    .social-box{
        margin: 0 80px 0 120px;
        align-items: flex-start;
    }

    .footer-form{
        flex-direction: row;
    }
    
    .footer-box{
        margin-bottom: 0;
        align-items: flex-start;
    }

    .subscribe-box{
        align-items: flex-start;
    }
}

/* here modal window */

.backdrop.is-open{
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
    /* display: none; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
    max-width: 288px; 
}

.madal-text{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form-contacts{
    margin-bottom: 8px;
}

.modal-form{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 38px; 
    outline: none;
    width: 100%;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form:focus{
    border-color: #4d5ae5;
}

.modal-form-label{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-form-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    padding: 8px 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    resize: none;
    max-width: 256px;
}

.modal-form-textarea::placeholder{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-form-textarea:focus{
    border-color: #4d5ae5;
}

.modal-btn{
    padding: 16px 32px;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
}

.modal-link{
   line-height: 133%;
   text-decoration: underline;
   text-decoration-skip-ink: none;
   color: #4d5ae5;
}

.modal .modal-imput-box .modal-icons{
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form:focus+.modal-icons {
    fill: #4d5ae5;
}

.modal-imput-box{
    position: relative;
}

.modal-close-icon{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon{
    fill: #fff;
}

.modal-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus{
    background-color: #404bbf;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.form-field{
    margin-bottom: 24px;
}

.modal-form-comment{
    margin-bottom: 16px;
}

.icon-ok{
    fill: #fff;
}

.modal-span{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    padding: 0;
    cursor: pointer;
    background-color: #fff;
    bottom: 104px;
    left: 24px;
    vertical-align: middle;
    margin-right: 8px;
    flex-shrink: 0;
}

.checkbox:checked+.checkbox-label>.modal-span{
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

@media screen and (min-width: 768px) and (max-width: 1157px){
    .modal{
        max-width: 408px;
        padding: 72px 24px 24px 24px;
    }

    .modal-form-textarea{
        max-width: 360px;
    }                           
}

@media screen and (min-width: 1158px){
    .modal{
        max-width: 408px;
        padding: 72px 24px 24px 24px;
    }

    .modal-form-textarea{
        max-width: 360px;
    }   
}

/* here window-menu */

.window-menu{
    display: none;
}

.window-menu .container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.window-menu .social-link{
    display: flex;
    gap: 40px;
    margin: 48px auto 40px;
}

.window-menu .navigation{
    display: flex;
    flex-direction: column;
    margin-top: 72px;
    margin-bottom: 168px;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
}

.window-menu .navigation .link{
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
}

.window-menu .contacts {
    display: flex;
    flex-direction: column;
}

.window-menu .list-h {
    display: flex;
    flex-direction: column;
}

.window-menu .list-h .header-add{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
}