body{
font-family: "Roboto", sans-serif;
font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color:#434455;
    background-color: #FFFFFF;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

img{
    display: block;
    padding-right: 0px;
    margin-right: 0px;
}

h1,
h2,
h3,
p,
a{
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.04em;
}

/* header */

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    width: 1158px;
}

.header{
    display: flex;
    margin: 0px auto;
    border-bottom: 1px solid #e7e9fc;
    height: 72px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navigation{
    display: flex;
    gap: 40px;
}

.list-h{
    display: flex;
    gap: 40px;
}

.nav{
    display: flex;
    align-items: center;
}

.main-page .container{
    margin: 0px auto;
    padding: 0 15px;
}

.main-page {
    background-color: #2e2f42;
    margin: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    max-width: 1440px;
    }

.navigation .link {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    padding: 24px 0px 24px 0px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.header .link{
    position: relative;
    color: #2e2f42;
}

.navigation .point:nth-child(1) .link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.navigation .point:nth-child(1) .link {
    position: relative;
    color: #404BBF;
}
  
.navigation .link:hover,
.navigation .link:focus{
    color: #404bbf;
}

.header-add{
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts{
    font-style: normal;
}

.header-add:hover,
.header-add:focus{
    color:#404bbf;
}

.logo{
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    font-family:"Raleway", sans-serif;
    text-transform: uppercase;
    margin-right: 76px;
}

.span-logo{
    color: #f4f4fd;
}

.span-header{
    color: #2e2f42;
}

.btn-os {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    color: white;
    cursor: pointer;
    padding: 16px 32px 16px 32px;
    display: block;
    margin: auto;
    border-radius: 4px;
    border: 0px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-os:hover,
.btn-os:focus {
    background-color: #404bbf;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
   letter-spacing: 0.3px;
    text-align: center;
    color:white;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* section2 strategy */

.strategy{
    padding-top: 120px;
    padding-bottom: 120px;
}

.strategy .container{
    width: 1128px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

.strategy .icon-box {
   display: flex;
  flex-direction: column;
      align-items: center;
  height: 112px;
  justify-content: center;
 background-color: #F4F4FD;
   border: 1px solid #8E8F99;
  border-radius: 4px;
   margin-bottom: 8px;
    }

.strategy .strategy-item{
    display: block;
    width: calc((100% - 3 * 24px) / 4);
}

.strategy-item .content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    margin-bottom: 8px;
}

.strategy-item .content-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.strategy-list {
    display: flex;
    gap: 24px;
}

/* section3 Our Team */

.team .container{
max-width: 1158px;
gap: 24px;
margin-left: auto;
margin-right: auto;
padding: 0 15px;
}

.team-content{
display: flex;
justify-content: space-between;
gap: 24px;
margin-left: auto;
margin-right: auto;
padding-left: 0px;
}

.team-content .list{
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-box {
    padding-top: 32px;
    padding-bottom: 32px;
}

.social-link .team-link {
    display: flex;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition-property: background-color;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link .team-link:hover, .social-link .team-icon:hover{
    background-color:#404bbf
}

.social-link .team-link:focus,
.social-link .team-icon:focus {
    background-color: #404bbf
}

.social-link .team-icon{
    fill: #f4f4fd;
    position: absolute;
}

.team .social-link{
    display: flex;
    gap: 24px;
}

.social-link{
  margin-top: 8px;
justify-content: center;
}

/* section4 Our Portfolio */

.portfolio-list .content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color:#2e2f42;
    font-family: "Roboto", sans-serif; 
}

.portfolio-list .content-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.list .content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    margin-bottom: 8px;
    text-align: center;
}

.list .content-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.content-title{
    margin-bottom: 8px;
}

.our-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio{
   padding: 120px 0 120px 0;
   max-width: 1158px;
   margin-left: auto;
   margin-right: auto;
}

.portfolio .container{
   padding: 0 15px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-item{
    width: calc((100% - 48px) / 3);
}

.portfolio-item .container {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.portfolio-list .portfolio-item:hover{
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list .portfolio-item{
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.action{
position: relative;
    overflow: hidden;
}

.overlay {
    padding: 8px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-family: sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
    }

    .portfolio-item:hover .overlay {
    transform: translateY(0);
    }

/* footer-sec */

.text-footer{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
       }

.end-page{
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.end-page .container{
max-width: 1128px;
margin-left: auto;
margin-right: auto;
padding: 0 15px;
display: flex;
align-items: baseline;
}

.end-page .logo{
    display: inline-block;
    margin-bottom: 16px;
}

.list{
    background-color: white;
}

.soc-text{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: white;
        margin-bottom: 16px;
}

.social-box .social-link{
    display: flex;
    gap: 16px;
}

.footer-box{
    margin-right: 120px;
}

.social-box .team-link:hover,
.social-box .team-icon:hover {
    background-color: #31d0aa;
}

.social-box .team-link:focus,
.social-box .team-icon:focus {
    background-color: #31d0aa;
}

.social-box{
    margin-left: 0;
    margin-right: 80px;
}

/* subscribe-footer */

.form-text-footer{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-form{
    margin: 0;
    padding: 0;
}

.subscribe-btn{
    margin-left: 24px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 8px 0 8px 24px;
    gap: 16px;
}

.footer-mail-input{
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 8px 0 8px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #2e2f42;
}

.sub-iconss{
    fill: #fff;
    margin-right: 24px;
}

.footer-form{
    display: flex;
}