body{
font-family: "Roboto", sans-serif;
font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color:#434455;
    background-color: #FFFFFF;
}

.btn-os{
background-color: #4d5ae5;
font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    color: white;
    cursor: pointer;
}

.btn-os:hover,
.btn-os:focus{
    background-color: #404bbf;
}

.nav-link {
    color: #2e2f42;
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}

ul{
    list-style-type:none;
}

a{
    text-decoration: none;
    font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        letter-spacing: 0.04em;
}

.header-add{
    color: #434455;
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;    
}

.contacts{
    font-style: normal;
}

.header-add:hover,
.header-add:focus{
    color:#404bbf;
}

.logo{
    font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        color: #4d5ae5;
        font-family:"Raleway", sans-serif;
        text-transform: uppercase;
}

.span-logo{
    color: #f4f4fd;
}

.span-header{
    color: #2e2f42;
}

.main-page{
    background-color: #2e2f42;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color:white;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
}

.content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color:#2e2f42;
    font-family: "Roboto", sans-serif;
}

.content-text{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

.team{
    background-color: #f4f4fd;
}

.our-title{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.text-footer{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

.end-page{
    background-color: #2e2f42;
}

.list{
    background-color: white;
}